services:
  minio:
    image: minio/minio:latest
    ports:
      - "9000:9000"
      - "9001:9001" # console
    command: server /data --console-address ":9001"
    volumes:
      - minio_data:/data
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:9000/minio/health/live" ]
      interval: 30s
      timeout: 20s
      retries: 3
  file-upload-service:
    build: .
    ports:
      - "8080:8080"
    env_file:
      - .env
    environment:
      - DATABASE_URL=postgres://dev:password@database:5432/dev_db
    depends_on:
      - minio
      - database

volumes:
  minio_data:
